.advantages {
  background-color: #f2f2f2;
  margin: 62px 0 0 0;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
}

.advantages__title--margin-top {
  margin: 50px 0 0 0;
}

.advantages__image-garbage-place-image {
  display: block;
  margin: 10px auto -42px auto;
}

.advantages__image-tablet {
  display: none;
}

.advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 13px 0 30px 0;
}

.advantages__image-garbage-place {
  display: none;
}

@media (min-width: 660px) {
  .advantages {
    text-align: left;
    margin: 69px 0 0 0;
    overflow: unset;
    padding-bottom: 18px;
  }

  .advantages__wrapper {
    margin-left: 50%;
    padding-top: 7px;
    position: relative;
  }

  .advantages__image-garbage-place-image {
    display: block;
    bottom: 26px;
    right: 351px;
    position: absolute;
    width: auto;
    height: auto;
  }

  .advantages__image-garbage-place {
    display: none;
  }
}

@media (min-width: 960px) {
  .advantages {
    margin: 76px 0 0;
    min-height: 513px;
  }

  .advantages__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin: 58px 26px 18px 45px;
  }

  .advantages__title-second-floor {
    display: block;
  }

  .advantages__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .advantages__wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 939px;
  }

  .advantages__image-garbage-place {
    display: block;
  }

  .advantages__image-garbage-place-image {
    display: none;
  }
}
