.after-header {
  position: relative;
  min-width: 320px;
  background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 402px, 100% auto;
  background-position: calc((100% - 160px) / 2) 176px, top;
  margin: 0;
  padding-top: 66px;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: 402px, 100% auto;
    background-position: calc((100% - 160px) / 2) 176px, top;
  }
}

.after-header .container__inner--title {
  min-height: 395px;
}

.after-header__flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 395px;
}

.after-header__title {
  width: 273px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin: 0 auto;
  text-align: center;
  padding-top: 22px;
}

.after-header__button {
  .button-pink();
  display: block;
}


.after-header__button:hover {
  color: #d22856;
  background-color: #ffffff;
}

.after-header__button:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: #ffffff;
}

.after-header__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding: 14px 0 0;
}

.after-header__os-icon {
  width: 204px;
  margin: 31px auto 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.after-header__get-app {
  min-height: 271px;
  background-color: #1d2631;
  text-align: center;
  padding: 28px 0 0 0;
}

@media (min-width: 507px) {
  .after-header {
    background-position: calc((100% - 160px) / 2) 176px, center center;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-position: calc((100% - 160px) / 2) 176px, center center;
    }
  }
}

@media (min-width: 660px) {
  .after-header {
    display: flex;
    flex-direction: column;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 700px, cover;
    background-position: bottom, center;
    margin-top: -108px;
    padding-bottom: 80px;
    overflow: hidden;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: 700px, cover;
      background-position: bottom, center;
    }
  }

  .after-header .container__inner--title {
    min-height: 271px;
  }

  .after-header__flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 286px;
  }

  .after-header__title {
    position: relative;
    width: 273px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    margin: 0;
    text-align: center;
    padding: 142px 0 0 27px;
  }

  .after-header__get-app {
    background-color: transparent;
    width: 341px;
    margin-top: 30px;
    margin-left: calc((100% - 660px) / 2);
    padding: 0;
    z-index: 2;
  }

  .after-header__button {
    .button-pink();
    display: inline-block;
    padding: 16px 46px;
    margin: 0;
  }

  .after-header__os-icon {
    margin: 43px 0 0 47px;
  }

  .after-header__text {
    padding: 28px 0 29px 0;
    width: 300px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: 960px) {
  .after-header {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 827px, cover;
    background-position: calc((100% - (-135px)) / 2) bottom, center;
    margin: -114px 0 0 0;
    padding-bottom: 93px;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-desktop.jpg");
      background-repeat: no-repeat;
      background-size: 827px, cover;
      background-position: calc((100% - (-135px)) / 2) bottom, center;
      margin: -114px 0 0;
      padding-bottom: 93px;
    }

    .container__inner {
      position: relative;
    }
  }

  .after-header__title {
    font-size: 50px;
    margin-top: 158px;
    padding: 0;
    width: 300px;
    line-height: 60px;
  }


  .after-header__flex-wrapper {
    min-height: 337px;
  }

  .after-header__button {
    .button-pink();
    display: inline-block;
    padding: 16px 15px;
    margin-left: 0;
    width: 100%;
    font-size: 21px;
  }

  .after-header__os-icon {
    margin: 64px 48px 0;
  }

  .after-header__text {
    padding: 47px 0 29px;
    width: 100%;
  }

  .after-header__get-app {
    width: 300px;
    margin-top: 50px;
    margin-left: calc((100% - 940px) / 2);

    .container__inner {
      padding: 0;
    }
  }
}
