.button-green {
  width: 279px;
  height: 63px;
  border: 2px solid #2aab6d;
  background-color: #2aab6d;
  color: #fff;
}

@media (min-width: 660px) {

  .button-green {
    margin: 74px 0 34px 20px;
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .button-green {
    margin: 6px 0 34px 131px;
  }
}
