.contacts {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  position: relative;
  min-height: 375px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -136px;
    z-index: 2;
    width: 100%;
    height: 100px;
    background: no-repeat url("../img/triangle-white-footer.svg");
    background-size: 100%;
  }
}

.contacts__phone--red {
  color: #d8456d;
  display: block;
  margin: 0;
  line-height: 26px;
}

.contacts__email {
  margin: -3px 0 20px;

  &--red {
    color: #d8456d;
    display: block;
    margin: 0;
    line-height: 26px;
  }
}

.contacts__address {
  margin: -3px 0 18px;

  &--red {
    color: #d8456d;
    display: block;
    width: 220px;
    margin: 0 auto;
    line-height: 26px;
  }
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 33px;
  margin: 0;
}

.contacts__text {
  padding: 38px 0 26px 0;
  line-height: 33px;
  margin: 0;
}

.contacts__wrapper-inner:nth-of-type(2) {
  margin: 15px 0 22px 0;
}

@media (min-width: 660px) {
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contacts__wrapper-inner:first-child {
    transform: translateX(-10px);
  }

  .contacts__wrapper-inner:last-of-type {
    flex-grow: 1;
    margin-top: 41px;
    width: 100%;
  }

  .contacts__wrapper-inner:nth-of-type(2) {
    margin: 0;
  }

  .contacts__wrapper-inner:last-child .contacts__title {
    margin-bottom: 0;
  }

  .contacts__text {
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    padding: 49px 49px 43px;
  }

  .contacts__address {
    padding: 3px 0 18px;
    margin: 0 auto;
    width: 295px;
  }

  .contacts::after {
    bottom: -114px;
    left: 0;
  }

  .contacts__wrapper-inner:nth-of-type(2) .contacts__title {
    margin-bottom: 4px;
  }
}

@media (min-width: 960px) {
  .contacts {
    margin: 13px 0;
    min-height: 333px;

    &--red {
      margin: 18px 0 0 0;
    }

    &::after {
      bottom: -222px;
      left: 0;
      background-size: 122% 100%;
      background-position: center -41px;
      height: 226px;
    }
  }

  .contacts__text {
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    width: 720px;
    margin: 0 auto;
    padding: 54px 0;
  }

  .contacts__wrapper {
    justify-content: space-around;
    transform: translateX(-5px);
  }

  .contacts__wrapper-inner:nth-of-type(1) {
    order: 0;
    margin: 0;
    transform: unset;
  }

  .contacts__wrapper-inner:nth-of-type(2) {
    order: 2;
  }

  .contacts__wrapper-inner:nth-of-type(3) {
    order: 1;
    margin-top: 0;
    flex-grow: 0;
    width: unset;
  }

  .contacts__wrapper-inner:last-of-type {
    margin: 0;
    width: auto;
    flex-grow: unset;
  }

  .contacts__address {
    padding: 0;
    width: 230px;
  }

  .contacts__phone,
  .contacts__email,
  .contacts__address {
    padding-top: 21px;
  }
}
