.form-main {
  margin-top: -30px;
  margin-bottom: 56px;

  &__section-one {
    text-align: center;
    .after-header-block()
  }

  &__section-three {
    margin-top: -17px;
  }

  &__text {
    .slogan()
  }

  &__text span {
    display: block;
  }

  &__label {
    &--red-color {
      .red-title-form();
    }

    display: block;
  }

  &__label {
    margin-left: 42px;
  }

  &__second-block {
    background-color: @grey-light;
    margin-top: 25px;
    padding: 39px 0 1px 0;
  }

  &__input {
    .form-main__input();
  }

  &__slogan {
    width: 246px;
    text-align: center;
    margin: 0 0 41px 37px;
    .form-main__slogan();
  }

  &__list {
    padding-left: 71px;
  }

  &__item {
    margin-bottom: 52px;
    position: relative;
  }

  &__checkbox {
    transform: translateX(-35px);
  }

  &__label-checkbox {
    .text-decoration-form();
  }

  &__third-block {
    margin-top: 27px;
  }

  &__four-block {
    margin-top: 27px;
    background-color: @grey-light;
    padding: 36px 0 0 0;
  }

  &__list-second {
    .text-decoration-form();
    padding: 0;
    margin: -4px 0 0 72px;
  }

  &__item-second {
    position: relative;
    padding-bottom: 47px;

    &::before {
      content: "";
      position: absolute;
      left: -49px;
      width: 35px;
      height: 35px;
      border: 2px solid #e5e5e5;
      border-radius: 50%;
      background-color: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      left: -35px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #d22856;
    }
  }

  &__label-radio {
    transform: translateX(-38px);
  }

  &__five-block {
    padding: 36px 0 52px 0;
    text-align: center;
  }

  &__textarea {
    width: 276px;
    height: 197px;
    border: 2px solid #e5e5e5;
    margin: -25px;
    padding: 16px 0 0 16px;
    .text-decoration-form();
  }
  &__button {
    margin: 22px 0 34px 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }
  &__desc {
    margin-left: 67px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
}


.form-main__item::before {
  content: "";
  position: absolute;
  left: -49px;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.form-main__item::after {
  content: "";
  position: absolute;
  left: -41px;
  width: 22px;
  height: 16px;
  background: no-repeat url("../../img/tick.svg");
}
