.main-nav__link {
  color: #fff;
}

.main-nav__list {
  text-align: center;
  padding-left: 0;
  margin: 0;
}

.main-nav {
  position: relative;
}

.main-nav__toggle--close {
  position: absolute;
  left: 206px;
  top: -38px;
  background-color: @grey;
  outline: none;
  border: none;
}

.main-nav__toggle--close:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #fff;
  left: 69px;
  transform: rotate(135deg);
}

.main-nav__toggle--close:after {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #fff;
  left: 69px;
  transform: rotate(45deg);
}
