.main-nav {
  position: relative;

  &__link {
    color: #fff;
  }

  &__list {
    text-align: center;
    padding-left: 0;
    margin: 0;
  }

  &__toggle {
    content: "";
    position: absolute;
    width: 50px;
    height: 30px;
    background-color: white;
  }

  &__toggle::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: #ffffff;
    left: 69px;
  }

  &__toggle::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: #fff;
    left: 69px;
  }

  &__toggle--close {
    position: absolute;
    left: 263px;
    top: -52px;
    background-color: @grey;
    outline: none;
    border: none;
  }

  &__toggle--close::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: #fff;
    left: 12px;
    transform: rotate(135deg);
  }

  &__toggle--close::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: #fff;
    left: 12px;
    transform: rotate(45deg);
  }
}

@media (min-width: 660px) {
  .main-nav {
    &__toggle--close {
      position: absolute;
      left: 120vh;
      top: -13vh;
      background-color: @grey;
      outline: none;
      border: none;
    }
  }
}

@media (min-width: 1200px) {
}
