.make-post {
  background: @grey-light;
  text-align: center;
}

.make-post__form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.make-post__image-wrapper {
  margin: 0;
}

.make-post__image {
  width: 100%;
}

.make-post__image-mobile {
  margin-top: 17px;
}

.make-post__list {
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
  padding: 31px 10px 100px 0;
}

.make-post__item-control {
  fill: #283645;
  opacity: 0.3;
}

.make-post__item:nth-of-type(1) .make-post__item-control {
  fill: @red;
  width: 44px;
  height: 44px;
  opacity: 1;
}

.make-post__item:nth-of-type(1) .make-post__item-control:hover {
  fill: #283645;
  opacity: 0.5;
}

.make-post__item:nth-of-type(2) .make-post__item-control {
  width: 49px;
  height: 49px;
}

.make-post__item:nth-of-type(3) .make-post__item-control {
  width: 32px;
  height: 32px;
}

.make-post__item-control:hover {
  fill: #283645;
  opacity: 0.5;
}

.make-post__item-control:active {
  fill: @red;
  opacity: 1;
}

.make-post__button {
  position: relative;
  width: 280px;
  height: 55px;
  border: 3px solid @red;
  background-color: transparent;
  border-radius: 29px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: @red;

  &:hover {
    background-color: @red;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @red;
  }

  &--line::before {
    content: "";
    position: absolute;
    left: -23px;
    bottom: 89px;
    width: 320px;
    height: 2px;
    background-color: #000000;
    opacity: 0.1;
  }

  &:last-of-type {
    margin-top: 10px;
    margin-bottom: 43px;
    border: 3px solid #283645;
    opacity: 0.1;
    color: rgba(40, 54, 69);

    &:hover {
      background-color: transparent;
      opacity: 0.3;
    }

    &:active {
      background-color: #283645;
      opacity: 0.3;
      border: none;
      color: rgba(255, 255, 255);
    }
  }
}

.make-post__image-other-screen {
  display: none;
}

.make-post__item:nth-of-type(2) {
  padding: 0 39px 0 33px;
}

.make-post__item:nth-of-type(3) {
  padding: 7px 0 0 0;
}

.make-post__scale-bar {
  width: 240px;
  height: 2px;
  background-color: #000000;
  position: absolute;
}

.make-post__scale-bar--first {
  width: 240px;
  left: 17px;
  top: 115px;
}

.make-post__scale-bar--second {
  display: none;
}

.make-post__scale-bar--third {
  display: none;
}

.make-post__scale-button {
  position: absolute;
  right: 28px;
  top: 63px;
  border: none;
  background-color: transparent;
}

.make-post__scale-button--first {
  top: 116px;
  right: 57px;
  left: 212px;
}

.make-post__scale-button--second {
  display: none;
}

.make-post__scale-button--third {
  display: none;
}

.make-post__scale-button::before {
  content: "";
  position: absolute;
  right: -1px;
  bottom: -5px;
  width: 14px;
  height: 14px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: @grey-light;
}

.make-post__scale-button:active::after {
  content: "";
  position: absolute;
  right: -1px;
  bottom: -5px;
  width: 14px;
  height: 14px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background-color: #d22856;
  z-index: 1;
}

@media (min-width: 660px) {
  .make-post {
    text-align: left;
  }

  .make-post__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
  }

  .make-post__list {
    flex-direction: column;
    margin: 64px 0 0 48px;
    padding: 0;
  }

  .make-post__item {
    &::before {
      content: "";
      position: absolute;
      width: 275px;
      height: 2px;
      background-color: #000000;
      opacity: 0.1;
    }

    display: flex;
    position: relative;
    align-items: center;
  }

  .make-post__item:nth-of-type(1)::before {
    left: -4px;
    top: 47px;
  }

  .make-post__item:nth-of-type(2) {

    &::before {
      left: -4px;
      top: 46px;
    }

    padding: 0;
    margin: 52px 0;
  }

  .make-post__item:nth-of-type(3) {

    &::before {
      left: -4px;
      top: 42px;
    }

    padding: 0;
    margin-left: 5px;
  }

  .make-post__button {
    width: 261px;

    &:nth-of-type(2) {
      margin-top: 25px;
      margin-bottom: 0;
    }
  }

  .make-post__button--line::before {
    display: none;
  }

  .make-post__button-wrapper-flex {
    margin: 93px 0 53px 47px;
  }

  .make-post__image-wrapper {
    min-width: 300px;
    margin-top: 57px;
    padding: 0;
  }

  .make-post__image-block {
    width: 538px;
    margin-top: 56px;
  }

  .make-post__image {
    width: 100%;
    height: auto;
  }

  .make-post__image-mobile {
    display: none;
  }

  .make-post__image-other-screen {
    display: block;
    max-width: initial;
  }

  .make-post__svg {
    height: 22px;
  }

  .make-post__scale-bar {
    position: unset;
    width: 202px;
    margin-left: 30px;
  }

  .make-post__scale-bar--first {
  }

  .make-post__scale-bar--second {
    display: block;
  }

  .make-post__scale-bar--third {
    display: block;
  }

  .make-post__scale-button--first {
    position: unset;
    margin-left: -66px;
  }

  .make-post__scale-button--first::before {
    right: 60px;
    bottom: 3px;
  }

  .make-post__scale-button--first:active::after {
    right: 60px;
    bottom: 3px;
  }

  .make-post__scale-button--second {
    display: block;
    position: unset;
    margin-left: -190px;
  }

  .make-post__scale-button--second::before {
    right: 181px;
    bottom: 4px;
  }

  .make-post__scale-button--second:active::after {
    right: 181px;
    bottom: 4px;
  }

  .make-post__scale-button--third {
    display: block;
    position: unset;
    margin-left: -115px;
  }

  .make-post__scale-button--third::before {
    right: 110px;
    bottom: 2px;
  }

  .make-post__scale-button--third:active::after {
    right: 110px;
    bottom: 2px;
  }


  .make-post__item:nth-of-type(1) .make-post__item-control {
    fill: @red;
    opacity: 1;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }

  .make-post__item:nth-of-type(2) .make-post__item-control {
    fill: @red;
    opacity: 1;
    width: 24px;
    height: 22px;
    cursor: pointer;
  }

  .make-post__item:nth-of-type(2) .make-post__item-control:hover {
    fill: #283645;
    opacity: 0.5;
  }

  .make-post__item:nth-of-type(3) .make-post__item-control {
    fill: @red;
    opacity: 1;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .make-post__item:nth-of-type(3) .make-post__item-control:hover {
    fill: #283645;
    opacity: 0.5;
  }
}

@media (min-width: 960px) {
  .make-post {
    width: 940px;
    margin: 0 auto;
  }

  .make-post__form {
    justify-content: space-between;
    padding-top: 20px;
  }

  .make-post__image-wrapper {
    margin: 37px 91px 47px 80px;
  }

  .make-post__image-block {
    width: 300px;
    margin: 38px 0 47px 70px;
  }

  .make-post__list {
    padding: 0;
    margin: 36px 0 0 8px;
  }

  .make-post__item:nth-of-type(2) {
    padding: 0;
    margin: 28px 0;
  }

  .make-post__svg {
    height: 45px;
  }

  .make-post__item:nth-of-type(1) .make-post__item-control {
    width: 44px;
    height: 44px;
  }

  .make-post__item:nth-of-type(2) .make-post__item-control {
    width: 48px;
    height: 48px;
  }

  .make-post__item:nth-of-type(3) .make-post__item-control {
    width: 32px;
    height: 32px;
  }

  .make-post__item:nth-of-type(1)::before {
    left: -3px;
    top: 56px;
    width: 410px;
  }

  .make-post__item:nth-of-type(2)::before {
    left: -4px;
    top: 57px;
    width: 410px;
  }

  .make-post__item:nth-of-type(3)::before {
    left: -7px;
    top: 51px;
    width: 410px;
  }

  .make-post__button--line::before {
    left: -1px;
    bottom: 340px;
    width: 414px;
  }

  .make-post__button-wrapper-flex {
    display: flex;
    margin: 167px 0 0 7px;
  }

  .make-post__button {
    transform: none;
    width: 183px;
  }

  .make-post__button:nth-of-type(2) {
    margin: 0 0 0 44px;
  }

  .make-post__scale-bar {

    &--third {
      margin-left: 52px;
    }

    margin-left: 44px;
    width: 287px;
  }

  .make-post__scale-button--first {

    &::before {
      right: 283px;
      bottom: 15px;
    }

    position: unset;
    margin-left: -234px;
  }

  .make-post__scale-button--second {

    &::before {
      right: 107px;
      bottom: 18px;
    }

    margin-left: -51px;
  }

  .make-post__scale-button--third {

    &::before {
      right: 194px;
      bottom: 8px;
    }

    margin-left: -135px;
  }

  .make-post__control-area {
    width: 467px;
  }
}
