.page-header {
  background-color: @grey;

  &--close{
    margin-bottom: -64px;
    z-index: 2;
    position: relative;
  }
}

.page-header__logo {
  display: block;
  padding-left: 20px;
  padding-top: 22px;
  margin-bottom: 18px;
}
