.page-header {
  background-color: @grey;
  margin: 0 auto;

  &--close {
    margin-bottom: -64px;
    z-index: 2;
    position: relative;
  }
}

.page-header__logo-mobile {
  display: block;
  padding-left: 20px;
  padding-top: 22px;
  margin-bottom: 18px;
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

@media (min-width: 660px) {

  .page-header {
    width: 100%;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-desktop {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
    padding-left: 20px;
    padding-top: 26px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1200px) {

  .page-header {
    display: flex;
    background: #1c2530t;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
    padding-left: 131px;
    padding-top: 28px;
    margin-bottom: 34px;
  }
}

