.page-footer {
  text-align: center;
  margin-top: 40px;
}

.page-footer__list {
  list-style: none;
  display: inline-block;
  vertical-align: center;
  padding-left: 0;
}

.page-footer__image {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -86px;
    top: 0;
    width: 45px;
    height: 45px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    background: no-repeat center url("../img/icon-twitter.svg");
  }

  &::after {
    content: "";
    position: absolute;
    left: -23px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    background: no-repeat center url("../img/icon-facebook.svg");
  }
}

.page-footer__item {
  position: relative;
  margin: 0;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    left: 39px;
    top: 0;
    width: 45px;
    height: 45px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    background: no-repeat center url("../img/icon-youtube.svg");
  }
}

.page-footer__social {
  margin: 20px 0 56px 0;
}

@media (min-width: 660px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__social {
    margin: -13px 27px 0 0;
  }
}

@media (min-width: 1200px) {
  .page-footer--form {
    width: 81%;
  }

  .page-footer--index {
    margin-top: 72px;
    width: 81%;
  }

  .page-footer--photo {
    margin-top: 99px;
    width: 81%;
  }
}
