.photo-gallery__card {
  margin-bottom: 20px;
}

.photo-gallery .photo-gallery__card:nth-of-type(4) {
  margin-bottom: 22px;
}

.photo-gallery__image-wrapper {
  position: relative;
}

.photo-gallery__image-wrapper--best::before {
  content: "панорама дня";
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  width: 140px;
  height: 36px;
  background-color: #d22856;
  color: #ffffff;
  padding: 0 0 0 20px;
  font-size: 15px;
  font-weight: 300;
}

.photo-gallery__image {
  width: 100%;
}

.photo-gallery__card--panorama .container__inner {
  display: flex;
  justify-content: center;
}

.photo-gallery__author {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.photo-gallery__time-register {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo-gallery__text {
  font-weight: 400;
  font-size: 14px;
  color: #283645;
  margin: -4px 0 0 0;
  line-height: 24px;

  &--panorama {
    margin-top: -4px;
  }
}

.photo-gallery__wrapper {
  background-color: @grey-light;
  margin: -10px 0 0 0;
  padding: 16px 0 5px 18px;
  display: flex;
  flex-direction: column;

  &--panorama {
    min-height: 191px;
    display: flex;
    flex-direction: column;
    padding: 15px 0 5px 18px;
  }
}

.photo-gallery__like-area {
  margin: 5px 31px 13px 31px;

  &--panorama {
    margin: 6px 32px;
  }
}

.photo-gallery__like-point {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: @red;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -31px;
    top: 2px;
    width: 13px;
    height: 12px;
    background: no-repeat url("../img/icon-heart.svg");
  }
}

@media (min-width: 660px) {
  .photo-gallery__image:not(.photo-gallery__image--panorama) {
    width: 100%;
    height: auto;
  }

  .photo-gallery__image--panorama {
    width: 100%;
    height: 509px;
  }

  .photo-gallery__image-post {
    width: 100%;
  }

  .photo-gallery__author--panorama {
    order: 0;
  }

  .photo-gallery__image-wrapper--best::before {
    top: 57px;
    z-index: 1;
  }

  .photo-gallery__like-point--panorama {
    &::before {
      left: 104px;
      bottom: 5px;
    }
  }

  .photo-gallery__like-point:not(.photo-gallery__like-point--panorama) {
    &::before {
      left: 228px;
      bottom: 1px;
    }
  }

  .photo-gallery__like-area {
    margin: auto 0 18px;

    &--panorama {
      margin: 0 0 0 305px;
      order: 1;
    }
  }

  .photo-gallery__text--panorama {
    order: 2;
    margin-top: -30px;
  }

  .photo-gallery__wrapper {
    margin: -10px 0 -2px 0;
    padding: 22px 0 0 27px;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &--panorama {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 620px;
      padding: 19px 0 0 27px;
      min-height: 122px;
    }
  }

  .photo-gallery__wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 23px 0;
  }

  .photo-gallery__card:not(.photo-gallery__card--panorama) {
    width: 300px;
    margin-bottom: 22px;
  }

  .photo-gallery__card--panorama {
    margin-bottom: 51px;
  }

  .photo-gallery__card .container {
    padding: 0;
  }

  .photo-gallery__text--line-break {
    padding: 0 10px 0 0;
  }
}

@media (min-width: 960px) {
  .photo-gallery__wrapper--panorama {
    width: 940px;
    margin-left: 0;
    min-height: 95px;
    padding: 21px 0 0 27px;
  }

  .photo-gallery__like-area {
    margin: auto 0 21px;
  }

  .photo-gallery__like-area--panorama {
    margin: 0 0 0 623px;
  }

  .photo-gallery__image--panorama {
    height: 506px;
  }

  .photo-gallery__image--best::before {
    right: 130px;
  }

  .photo-gallery__wrapper-flex {
    margin: 0;
  }

  .photo-gallery__card {
    margin-bottom: 53px;
  }

  .photo-gallery__card:not(.photo-gallery__card--panorama) {
    margin-bottom: 53px;
  }

  .photo-gallery__wrapper:not(.photo-gallery__wrapper--panorama) {
    padding: 22px 0 0 27px;
    min-height: 157px;
  }

  .photo-gallery__image-wrapper--best::before {
    top: 54px;
    right: 10px;
  }

  .photo-gallery__text--panorama {
    margin-top: -26px;
  }
}
