.photo-gallery__card {
  margin-bottom: 23px;
}

.photo-gallery__image-wrapper {
  position: relative;
}

.photo-gallery__image-wrapper--best::before {
  content: "панорама дня";
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
  width: 140px;
  height: 36px;
  background-color: #d22856;
  color: #ffffff;
}

.photo-gallery__image {
  width: 100%;
}

.photo-gallery--panorama .container__inner {
  display: flex;
  justify-content: center;
}

.photo-gallery__author {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.photo-gallery__time-register {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo-gallery__text {
  font-weight: 400;
  font-size: 14px;
  color: #283645;
  margin: 0;
  line-height: 24px;
}

.photo-gallery__wrapper {
  background-color: @grey-light;
  margin: -10px 0 0 0;
  padding: 11px 0 5px 18px;

  &--panorama {
    min-height: 191px;
  }
}

.photo-gallery__like-area {
  margin: 8px 33px;
}

.photo-gallery__like-point {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: @red;
  position: relative;
  right: 1px;
  bottom: 4px;

  &--panorama {
    left: 31px;
    top: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -31px;
    top: 2px;
    width: 13px;
    height: 12px;
    background: no-repeat url("../img/icon-heart.svg");
  }
}

@media (min-width: 660px) {

  .photo-gallery__image:not(.photo-gallery__image--panorama) {
    width: 100%;
    height: auto;
  }

  .photo-gallery__image--panorama {
    width: 100%;
    height: 509px;
  }

  .photo-gallery__image-post {
    width: 82vw;
  }

  .photo-gallery__wrapper--panorama {
    padding: 22px 0 0 29px;
    min-height: 102px;
  }

  .photo-gallery__image-wrapper--best::before {
      top: 57px;
      z-index: 1;
  }

  .photo-gallery__like-point--panorama {
    left: 47px;
    top: 1px;
    &::before {
      left: 104px;
      bottom: 5px;
    }
  }

  .photo-gallery__like-point:not(.photo-gallery__like-point--panorama) {
    position: relative;
    bottom: 20px;
    left: 1px;
    &::before {
      left: 228px;
      bottom: 1px;
    }
  }

  .photo-gallery__like-area-panorama {
    margin: 0;
    position: relative;
    left: 69%;
    bottom: 78px;
    width: 170px;
  }

  .photo-gallery__like-area {
    position: relative;
    margin: auto 0 0 0;
  }

  .photo-gallery__text {
    margin: -5px 0;
  }

  .photo-gallery__wrapper {
    margin: -10px 0 -2px 0;
    padding: 22px 0 0 27px;
    min-height: 155px;
    display: flex;
    flex-direction: column;

    &--panorama {
      width: 620px;
      padding: 22px 0 0 29px;
      min-height: 121px;
    }
  }

  .photo-gallery__wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 21px 0;
  }

  .photo-gallery__card:not(.photo-gallery--panorama) {
    width: 300px;
  }

  .photo-gallery__card .container {
    padding: 0;
  }
}

@media (min-width: 960px) {

  .photo-gallery__wrapper--panorama {
    width: 940px;
    margin-left: 0;
    min-height: 95px;
    padding: 21px 0 0 27px;
}

  .photo-gallery__image-post {
    width: 100%;
  }

  .photo-gallery__like-area-panorama {
    left: 600px;
    top: -50px;
  }

  .photo-gallery__image--panorama {
    height: 506px;
  }

  .photo-gallery__image--best::before {
    right: 130px;
  }

  .photo-gallery__wrapper-flex {
    margin: 0;
  }

  .photo-gallery__card {
    margin-bottom: 53px;
  }

  .photo-gallery__wrapper:not(.photo-gallery__wrapper--panorama) {
    padding: 22px 0 0 27px;
    min-height: 157px;
  }
}

