.price {
  min-height: 474px;
  margin-top: 71px;
  background-color: @grey-light;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 438px;
    left: 0;
    width: 100%;
    height: 36px;
    background-image: linear-gradient(to right bottom, #ffffff 50%, @grey-light 50%);
  }
}

.price__inner {
  position: relative;
}

.price__table {
  position: absolute;
  right: -254px;
  bottom: -360px;
  border-collapse: collapse;
}

.price__features-header {
  min-width: 234px;
  min-height: 94px;
  border: none;
  background-color: transparent;
}

.price__header {
  min-width: 25%;
  min-height: 94px;
  background-color: #283645;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  border: 2px solid #e5e5e5;
}

.price__name {
  text-transform: uppercase;
  .text-decoration-bold();
  margin: 16px 90px 0;
}

.price__price {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 22px;
}

.price__header--flag {
  position: relative;
}

.price__flag {
  position: absolute;
  width: 106px;
  height: 26px;
  background-color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.21px;
  text-transform: uppercase;
  transform: rotate(-45deg);
  left: -29px;
  top: 15px;
}

.price__item {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  min-width: 252px;
  min-height: 94px;
  padding: 14px 0 14px 21px;
  position: relative;
}

.price__feature-status--on {
  color: #ffffff;
}

.price__feature-status--on::before {
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  top: 18px;
  width: 32px;
  height: 22px;
  background: no-repeat url("../img/icon-yes.svg");
  background-size: contain;
}

.price__feature-status--off {
  color: #ffffff;
}

.price__feature-status--off::before {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  top: 14px;
  width: 30px;
  height: 28px;
  background: no-repeat url("../img/icon-no.svg");
  background-size: contain;
}

.price__control {
  position: relative;
  bottom: -416px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  transform: translate(-4px, -5px);
}

.price__switcher {
  visibility: hidden;
}

.price__control-button {
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #000000;
    opacity: 0.3;
    border-radius: 50%;
  }

  &:nth-of-type(1)::before {
    top: 7px;
    left: -18px;
  }

  &:nth-of-type(2)::before {
    top: 7px;
    left: -4px;
  }

  &:nth-of-type(3)::before {
    top: 7px;
    left: 6px;
  }
}

.price__control-button:hover::before {
  opacity: 0.6;
}

.price__control-button:active::before {
  opacity: 0.1;
}

input[type="radio"]:checked + .price__control-button:nth-of-type(1)::after {
  position: absolute;
  top: 3px;
  left: -18px;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 3px solid #000000;
  border-radius: 50%;
  opacity: 1;
}

input[type="radio"]:checked + .price__control-button:nth-of-type(2)::after {
  position: absolute;
  top: 3px;
  left: -10px;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 3px solid #000000;
  border-radius: 50%;
}

input[type="radio"]:checked + .price__control-button:nth-of-type(3)::after {
  position: absolute;
  top: 3px;
  left: 5px;
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border: 3px solid #000000;
  border-radius: 50%;
}

input[type="radio"]:checked + .price__control-button::before {
  display: none;
}

@media (min-width: 660px) {
  .price {
    margin-top: 55px;
    min-height: 377px;

    &::before {
      bottom: 326px;
      height: 51px;
    }
  }

  .price__table {
    table-layout: fixed;
    width: 619px;
    right: 0;
    top: 85px;
  }

  .price__header {
    width: 25%;
    min-height: 75px;
  }

  .price__name {
    font-size: 16px;
    margin: 13px 0 -6px;
  }

  .price__price {
    font-size: 18px;
    transform: unset;
    margin-bottom: 12px;
  }

  .price__flag {
    left: -33px;
    top: 6px;
  }

  .price__feature {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;

    &--name {
      display: none;
    }
  }

  .price__item {
    padding: 7px 14px;
  }

  .price__feature-status--on::before {
    right: 58px;
    top: 10px;
  }

  .price__feature-status--off::before {
    right: 61px;
    top: 7px;
  }

  .price__control {
    display: none;
  }
}

@media (min-width: 960px) {
  .price {
    margin: 12px 0 0 0;
    min-height: 514px;

    &::before {
      bottom: 452px;
      height: 66px;
    }
  }

  .price__inner {
    margin: 0;
    padding: 0;
  }

  .price__table {
    width: 100%;
    left: 0;
    top: 135px;
  }

  .price__header {
    width: 25%;
    padding: 17px;
  }

  .price__name {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  .price__flag {
    left: -39px;
    top: 13px;
    width: 127px;
    height: 28px;
  }

  .price__price {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 4px 0;
    padding: 0;
  }

  .price__item {
    padding: 13px 21px;
  }

  .price__feature {
    font-size: 18px;
  }

  .price__feature-status--on::before {
    right: 100px;
    top: 20px;
  }

  .price__feature-status--off::before {
    right: 101px;
    top: 15px;
  }
}
