.question-answer {
  position: relative;
  text-align: center;
  margin: 0;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;

  &__text:first-of-type {
    padding: 15px 0 4px 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -62px;
    width: 100%;
    height: 36px;
    background-image: linear-gradient(to right bottom, #fff 50%, @grey-light 50%);
  }
}

@media (min-width: 660px) {
  .question-answer {

    &__text {
      line-height: 40px;
      font-size: 40px;
      font-weight: 300;

      &:last-child {
        width: 581px;
        padding: 0 0 10px 38px;
        margin-top: -28px;
      }

      &:first-of-type {
        padding: 15px 0 0 0;
      }
    }
    &::after {
      bottom: -70px;
    }
  }
}
