.reviews {
  text-align: center;
  min-height: 277px;
}

.reviews__item-reverse {
  display: none;
}

.reviews__experience {
  display: none;
}

.reviews__item {
  margin: 0;
  display: block;
}

.reviews__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 42px 0 13px;
}

.reviews__text {
  width: 280px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
  padding: 0;
}

.reviews__button-wrapper {
  display: flex;
  justify-content: center;
  transform: translate(-4px, 1px);
}

.reviews__button {
  border: none;
  position: relative;
  top: 35px;
  display: block;
  border-radius: 50%;
  background-color: #283645;
  opacity: 0.3;
  width: 6px;
  height: 6px;
  padding: 0;

  &:nth-of-type(2) {
    margin: 0 18px;
  }
}

.reviews__button--current {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 3px solid #283645;
  background-color: #ffffff;
  opacity: 1;
  top: 31px;
}

.reviews__button:hover {
  opacity: 0.6;
}

.reviews__button:active {
  opacity: 0.1;
}

.reviews__wrapper {
  position: relative;
}

.reviews__quotes {
  display: none;
}

.reviews__link-off {
  color: #000000;
  cursor: none;
}

@media (min-width: 660px) {
  .reviews {
    min-height: 199px;
  }

  .reviews__item {
    display: none;
  }

  .reviews__item-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .reviews__text {
    .text-decoration-form();
    width: 621px;
  }

  .reviews__name {
    font-size: 20px;
    font-weight: 700;
    padding: 34px 0 0;
    line-height: 32px;
  }

  .reviews__experience {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__button-wrapper {
    transform: translate(-4px, 14px);
  }

  .reviews__button {
    top: 23px;
  }

  .reviews__button--current {
    top: 20px;
  }

  .reviews__quotes {
    display: none;
  }
}

@media (min-width: 960px) {
  .reviews {
    margin-top: 71px;
  }

  .reviews__quotes {
    display: inline;
  }

  .reviews__text {
    margin: 42px 125px 0;
    width: unset;
  }

  .reviews__name {
    font-size: 24px;
  }

  .reviews__experience {
    font-size: 18px;
  }

  .reviews__button:nth-of-type(3) {
    left: 417px;
    top: -172px;
    width: 30px;
    height: 41px;
    cursor: pointer;
    background-color: transparent;
  }

  .reviews__button:nth-of-type(2) {
    top: -172px;
    left: 459px;
    width: 27px;
    height: 39px;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
  }

  .reviews__button:nth-of-type(1) {
    right: 403px;
    bottom: 161px;
    top: auto;
    width: 30px;
    height: 41px;
    z-index: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .reviews__button:nth-of-type(1):hover ~ .reviews__button:nth-of-type(3)::after {
    opacity: 0.6;
  }

  .reviews__button:nth-of-type(2):hover ~ .reviews__button:nth-of-type(3)::before {
    opacity: 0.6;
  }

  .reviews__button:nth-of-type(1):active ~ .reviews__button:nth-of-type(3)::after {
    opacity: 0.1;
  }

  .reviews__button:nth-of-type(2):active ~ .reviews__button:nth-of-type(3)::before {
    opacity: 0.1;
  }

  .reviews__button:nth-of-type(1)::after,
  .reviews__button:nth-of-type(1)::before,
  .reviews__button:nth-of-type(2)::before {
    display: none;
  }

  .reviews__button:nth-of-type(3)::before {
    content: "";
    display: block;
    position: relative;
    width: 22px;
    height: 42px;
    background: no-repeat url("../img/icon-review-arrow-left.svg");
    right: 915px;
    bottom: 2px;
    opacity: 0.3;
  }

  .reviews__button:nth-of-type(3)::after {
    content: "";
    display: block;
    position: relative;
    width: 22px;
    height: 42px;
    background: no-repeat url("../img/icon-review-arrow-right.svg");
    bottom: 42px;
    right: -3px;
    opacity: 0.3;
  }
}
